# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
*.swo

# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Temporary files
*.tmp
*.temp
.cache/

# Local Netlify folder
.netlify
